<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @{ Html.RenderPartial("~/Header.ascx"); }
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
